/* ------------------------------------------------------------------ */
/* Basic setup*/
/* ------------------------------------------------------------------ */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  color: #191919;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------------------------------ */
/*Reusable components*/
/* ------------------------------------------------------------------ */

.row {
  max-width: 1600px;
  margin: 0px auto;
}

section {
  padding: 80px 0px;
}

.long-copy {
  line-height: 145%;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 30px;
  text-align: center;
}

.box {
  padding: 1%;
  border-radius: 4%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-height: 300px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------------------------------------------------------------------ */
/*Headings*/
/* ------------------------------------------------------------------ */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #e9e9e9;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #9b59b6;
  content: " ";
  margin: 0px auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ------------------------------------------------------------------ */
/*Header/Hero*/
/* ------------------------------------------------------------------ */

header {
  background-image: linear-gradient(#000000af, #000000af), url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-shape-divider-bottom-1629762823 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629762823 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1629762823 .shape-fill {
  fill: #ffffff;
}

/* ------------------------------------------------------------------ */
/*navbar*/
/* ------------------------------------------------------------------ */

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0px 8px 0px;
  color: #e9e9e9;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #9b59b6;
}

/* sticky navi */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fafafadf;
  box-shadow: 0 2px 2px #8d8d8d;
}

.main-nav {
  margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 18px 0px ;
  color: #191919;
}

.sticky .logo {
  display: none;
}
.sticky .logo-black {
  display: block;
}

/* ------------------------------------------------------------------ */
/*generic links*/
/* ------------------------------------------------------------------ */

a:link, a:visited {
  color: #9b59b6;
  text-decoration: none;
  padding-bottom: 1px;
  transition: color 0.2s;
}

a:hover, a:active {
  color: #5e147e;
}


/* ------------------------------------------------------------------ */
/*Buttons*/
/* ------------------------------------------------------------------ */

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #9b59b6;
  border: 1px solid #9b59b6;
  color: #e9e9e9;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #9b59b6;
  color: #9b59b6;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #8e44ad;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
  background-color: #8e44ad;
  border: 1px solid #8e44ad;
  color: #e9e9e9;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #8e44ad;
  color: #e9e9e9;
}

/* ------------------------------------------------------------------ */
/*icons*/
/* ------------------------------------------------------------------ */

.icon-big {
  font-size: 350%;
  display: block;
  color: #8e44ad;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #8e44ad;
  font-size: 120%;
/** align **/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}

/* ------------------------------------------------------------------ */
/*meals*/
/* ------------------------------------------------------------------ */

.section-meals {
  padding: 0px;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: black;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.3s, opacity 0.3s;
}

.meal-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/* ------------------------------------------------------------------ */
/*how it works*/
/* ------------------------------------------------------------------ */

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-steps {
  margin-bottom: 70px;
  padding-right: 30px;
}

.works-steps:last-of-type {
  margin-bottom: 80px;
}

.works-steps div {
  color: #8e44ad;
  border: 2px solid #8e44ad;
  border-radius: 50%;
  display: inline;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.works-steps p {
    padding-top: 15px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}


.section-steps {
  background-color: #fafafa;
}


/* ------------------------------------------------------------------ */
/*cities section*/
/* ------------------------------------------------------------------ */

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 3%;
  box-shadow: #191919;
}

.city-feature {
  margin-bottom: 5px;
}

/* ------------------------------------------------------------------ */
/*testimonials*/
/* ------------------------------------------------------------------ */

.section-testimonials {
  background-image: linear-gradient(#000000af, #000000af), url(img/back-customers.jpg);
  background-size: cover;
  color: #e9e9e9;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

blockquote::before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  color: #8e44ad;
}


cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ------------------------------------------------------------------ */
/*price panels*/
/* ------------------------------------------------------------------ */

.section-plans {
  background-color: #fafafa;
}

.plan-box {
  background-color: #ffffff;
  border-radius: 10px;
  width: 90%;
  margin-left: 10%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: box-shadow 0.2s;
}

.plan-box:hover {
  background-color: #ffffff;
  border-radius: 10px;
  width: 90%;
  margin-left: 10%;
  box-shadow: rgba(249, 65, 255, 0.2) 0px 8px 24px;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #fafafa;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.plan-box div:last-child {
  text-align: center;
  border: none;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #8e44ad;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0 5px 0;
}

/* ------------------------------------------------------------------ */
/*form*/
/* ------------------------------------------------------------------ */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid rgb(209, 209, 209);
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* ------------------------------------------------------------------ */
/*footer*/
/* ------------------------------------------------------------------ */

footer {
  background-color: #191919;
  padding: 45px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links i {
  font-size: 120%;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0px;
}

footer p {
  color: #8e44ad;
  text-align: center;
  font-size: 80%;
  margin-top: 30px;
}